  <header>
    <nav>
      <a href="/" class="nav__link">Home</a>
      <a href="/newPost" class="nav__link">New Post</a>
    </nav>
  </header>
  <main class="home__container">
    <div class="post__container">
        <h1 class="post__title">{{ title }}</h1>
        <h2 class="post__author">{{ author }}</h2>
        <p class="post__date">{{ date }}</p>
        <p class="post__content">{{ content }}</p>
    </div>
    <form action="/writeComment" method="POST">
      <input type="text" name="commentName" id="" placeholder="Enter your name here">
      <textarea name="commentContent" id="" maxlength="200"placeholder="Enter your comment here"></textarea>
      <p class="characterCount"></p>
      <input type="hidden" name="blogTitle" value="{{ title }}">
      <input type="submit" value="submit">
    </form>
    {{!-- comment section which loops through a comment array and displays all the comments dynamically from app.js --}}
    {{#each comment}}
      <div class="comment__container">
        <h2 class="comment__name">{{this.commentName}}</h2>
        <p class="comment__content">{{this.commentContent}}</p>
      </div>
    {{/each}}
  </main>
  <footer>
    <h3 class="footer__text">Copyright &copy; 2019</h3>
  </footer>
