<header>
  <nav>
    <a href="/" class="nav__link">Home</a>
    <a href="/newPost" class="nav__link">New Post</a>
  </nav>
</header>
<main class="home__container">
  <div class="preview__container" data-blog-title="First post" id="first-post">
    <h1 class="preview__title">Blog Post Title</h1>
    <h2 class="preview__author">John Smith</h2>
    <p class="preview__date">Date</p>
    <p class="preview__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, ea. Aliquam sint quasi eveniet animi, earum cupiditate incidunt, eum maiores ipsam possimus doloremque reiciendis, repellendus nulla enim exercitationem consequatur praesentium.</p>
  </div>
  {{#each post}}
    <div class="preview__container" data-blog-title="{{this.blogTitle}}" id="next-post">
      <h1 class="preview__title">{{this.blogTitle}}</h1>
      <h2 class="preview__author">{{this.blogAuthor}}</h2>
      <p class="preview__date">{{this.blogDate}}</p>
      <p class="preview__content">{{this.blogContent}}</p>
    </div>
  {{/each}}
</main>
<footer>
  <h3 class="footer__text">Copyright &copy; 2019</h3>
</footer>